<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.temp.app.model">
	<insert id="insertAccomodation" parameterType="AccomodationDTO">
		insert into accomodation 
		values(accomodation_seq.nextval, 
			   #{category_accomodation, jdbcType=VARCHAR}, 
			   #{homepage, jdbcType=VARCHAR}, 
			   #{headname, jdbcType=VARCHAR}, 
			   #{tel, jdbcType=VARCHAR}, 
			   #{accomodation_name, jdbcType=VARCHAR},
			   #{country, jdbcType=VARCHAR}, 
			   #{city, jdbcType=VARCHAR}, 
			   #{address, jdbcType=VARCHAR}, 
			   #{postalcode, jdbcType=VARCHAR}, 
			   #{accomodation_facility, jdbcType=VARCHAR}, 
			   #{image, jdbcType=VARCHAR}, 
			   #{content, jdbcType=VARCHAR}, 
			   #{policy, jdbcType=VARCHAR}, 
			   #{checkin_date, jdbcType=VARCHAR}, 
			   #{checkout_date, jdbcType=VARCHAR}, 
			   #{payment, jdbcType=VARCHAR},
			   #{account_num, jdbcType=VARCHAR},
			   #{nearby, jdbcType=VARCHAR})
		<selectKey keyProperty="num" resultType="int" order="AFTER">
			select accomodation_seq.currval from dual
		</selectKey>
	</insert>
	<insert id="insertRoom" parameterType="RoomDTO">
		insert into room 
		values(room_seq.nextval, 
			   #{accomodation_num, jdbcType=VARCHAR},
			   #{roomname, jdbcType=VARCHAR}, 
			   #{roomclass, jdbcType=VARCHAR}, 
			   #{qty, jdbcType=VARCHAR}, 
			   #{people, jdbcType=VARCHAR}, 
			   #{price, jdbcType=VARCHAR}, 
			   #{room_facility, jdbcType=VARCHAR},
			   #{room_image, jdbcType=VARCHAR})
	</insert>
	
	<update id="updateRoom" parameterType="RoomDTO">
		update room
		set roomname=#{roomname}, roomclass=#{roomclass}, qty=#{qty}, people=#{people}, price=#{price}, room_facility=#{room_facility}
		where num=${num}
	</update>
	<select id="getAccomodation" parameterType="int" resultType="AccomodationDTO">
		select * from accomodation where account_num=#{num}
	</select>
	<update id="updateAccomodation_facility" parameterType="Map">
		update accomodation set accomodation_facility=#{accomodation_facility} where num=#{accomodation_num}
	</update>
	<update id="updateContent" parameterType="Map">
		update accomodation set content=#{content} where num=#{accomodation_num}
	</update>
	<update id="updatePolicy" parameterType="Map">
		update accomodation set policy=#{policy}, payment=#{payment}, checkin_date=#{checkin_date}, checkout_date=#{checkout_date} where num=#{accomodation_num}
	</update>
	<update id="updateNearby" parameterType="Map">
		update accomodation set nearby=#{nearby} where num=#{accomodation_num}
	</update>
	<update id="updateImage" parameterType="Map">
		update accomodation set image=#{image} where num=#{accomodation_num}
	</update>
	<update id="updateRoom_image" parameterType="Map">
		update room set room_image=#{room_image, jdbcType=VARCHAR} where num=#{room_num}
	</update>
	<select id="getRoomList" parameterType="string" resultType="RoomDTO">
		select * from room where accomodation_num=#{num}
	</select>
	
	
	<select id="listAccomodationAll" resultType="AccomodationDTO">
		<!-- select * from accomodation -->
		select * from (select rownum rn, A.* from accomodation A) where rn between ${startRow} and ${endRow}
	</select>
	<select id="listAccomodation" resultType="AccomodationDTO" parameterType="HashMap">
		select * 
		from (select rownum as rn, A.* 
			  from accomodation A 
			  where country = #{input_place} 
			  or city = #{input_place_city} )
		where rn between #{startRow} and #{endRow}
	</select>
    <select id="getAccomodationList" resultType="AccomodationDTO">
        select * 
        from accomodation
    </select>
	<select id="getRoom" resultType="RoomDTO" parameterType="int">
		select * from room where num = #{num}
	</select>
	<select id="getReservation" resultType="ReservationDTO" parameterType="int">
		select * from reservation where room_num = #{num}
	</select>
	<insert id="insertReservation" parameterType="ReservationDTO">
		insert into reservation 
		values (reservation_seq.nextval, 
				#{account_num, jdbcType=INTEGER}, 
				#{accomodation_num, jdbcType=INTEGER}, 
				#{room_num, jdbcType=INTEGER}, 
				#{last_name, jdbcType=VARCHAR}, 
				#{first_name, jdbcType=VARCHAR}, 
				#{email, jdbcType=VARCHAR}, 
				#{country, jdbcType=VARCHAR}, 
				#{tel, jdbcType=VARCHAR}, 
				#{guest_name, jdbcType=VARCHAR}, 
				#{checkIn_date, jdbcType=VARCHAR}, 
				#{checkOut_date, jdbcType=VARCHAR}, 
				#{rooms, jdbcType=INTEGER}, 
				#{adults, jdbcType=INTEGER}, 
				#{children, jdbcType=INTEGER}, 
				#{payment, jdbcType=VARCHAR})
	</insert>
	<delete id="deleteReservation" parameterType="ReservationDTO">
		delete from reservation where num = #{num}
	</delete>
    <select id="getCount" resultType="int" parameterType="HashMap">
        select count(*) from accomodation 
        where country = #{input_place}
        or city = #{input_place_city}
        <!-- and checkin_date = #{start_date}
        and checkout_date = #{end_date} -->
	</select>
	<select id="getAccomodationInfo" parameterType="int" resultType="AccomodationDTO">
		select * from accomodation where num = #{num}
	</select>
</mapper>