<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.temp.app.model">
	<insert id="insertAccomodation" parameterType="AccomodationDTO">
		insert into accomodation 
		values(accomodation_seq.nextval, 
			   #{category_accomodation}, 
			   #{homepage}, 
			   #{headname}, 
			   #{tel}, 
			   #{accomodation_name},
			   #{country}, 
			   #{city}, 
			   #{address}, 
			   #{postalcode}, 
			   #{accomodation_facility}, 
			   #{image}, 
			   #{content}, 
			   #{policy}, 
			   #{checkin_date}, 
			   #{checkout_date}, 
			   #{payment},
			   #{account_num})
		<selectKey keyProperty="num" resultType="int" order="AFTER">
			select accomodation_seq.currval from dual
		</selectKey>
	</insert>
	<insert id="insertRoom" parameterType="RoomDTO">
		insert into room 
		values(room_seq.nextval, 
			   #{accomodation_num},
			   #{roomname}, 
			   #{roomclass}, 
			   #{qty}, 
			   #{people}, 
			   #{price}, 
			   #{room_facility})
	</insert>
	
	<update id="updateRoom" parameterType="RoomDTO">
		update room
		set roomname=#{roomname}, roomclass=#{roomclass}, qty=#{qty}, people=#{people}, price=#{price}, room_facility=#{room_facility}
		where num=${num}
	</update>
	<select id="getAccomodation" parameterType="int" resultType="AccomodationDTO">
		select * from accomodation where account_num=#{num}
	</select>
	<update id="updateAccomodation_facility" parameterType="Map">
		update accomodation set accomodation_facility=#{accomodation_facility} where num=#{accomodation_num}
	</update>
	<update id="updateContent" parameterType="Map">
		update accomodation set content=#{content} where num=#{accomodation_num}
	</update>
	<update id="updatePolicy" parameterType="Map">
		update accomodation set content=#{policy} where num=#{accomodation_num}
	</update>
	<select id="getRoomList" parameterType="string" resultType="RoomDTO">
		select * from room where accomodation_num=#{num}
	</select>
</mapper>