<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.temp.app.model">
	
	<insert id="insertAccount" parameterType="AccountDTO">
		insert into ACCOUNT values
		(ACCOUNT_seq.nextval
		, #{email}
		, #{password}
		, #{name, jdbcType=VARCHAR}
		, #{tel, jdbcType=INTEGER}
		, #{profilePhoto, jdbcType=VARCHAR}
		, #{nickName, jdbcType=VARCHAR}
		, #{birthday, jdbcType=VARCHAR}
		, #{country, jdbcType=VARCHAR}
		, #{address, jdbcType=VARCHAR}
		, #{payment, jdbcType=VARCHAR}
		, #{smoke, jdbcType=VARCHAR}
		, #{starRating, jdbcType=INTEGER}
		, #{disabled, jdbcType=VARCHAR}
		, #{preferredFacility, jdbcType=VARCHAR}
		, #{reservationTarget, jdbcType=VARCHAR}
		, #{currency, jdbcType=VARCHAR})
	</insert><!-- 최초 회원가입시, 이메일과 비밀번호만으로 회원가입 가능. -->
	
	<!-- <update id="updateAccount" parameterType="AccountDTO">
		update ACCOUNT 
		set 
		profilePhoto = #{profilePhoto, jdbcType=VARCHAR},
		nickName = #{nickName, jdbcType=VARCHAR},
		birthday = #{birthday, jdbcType=VARCHAR},
		country = #{country, jdbcType=VARCHAR},
		name = #{name, jdbcType=VARCHAR},
		tel = #{tel, jdbcType=INTEGER},
		address = #{address, jdbcType=VARCHAR},
		payment = #{payment, jdbcType=VARCHAR},
		smoke = #{smoke, jdbcType=VARCHAR},
		starRating = #{starRating, jdbcType=INTEGER},
		disabled = #{disabled, jdbcType=VARCHAR},
		preferredFacility = #{preferredFacility, jdbcType=VARCHAR},
		reservationTarget = #{reservationTarget, jdbcType=VARCHAR},
		currency = #{currency, jdbcType=VARCHAR},
		password = #{password, jdbcType=VARCHAR}
		where num = #{num}
	</update> -->
	
	<update id = "updateProfilePhoto" parameterType="AccountDTO">
		update ACCOUNT
		set profilePhoto = #{profilePhoto, jdbcType=VARCHAR}
		where num = #{num}
	</update>
	
	<update id="updateNickName" parameterType="AccountDTO">
		UPDATE ACCOUNT
		SET NICKNAME = #{nickName, jdbcType=VARCHAR}
		WHERE NUM = #{num}
	</update>
	
	<update id="updateBirthday" parameterType="AccountDTO">
		update account
		set birthday = #{birthday, jdbcType=VARCHAR}
		where num = #{num}
	</update>
	
	<update id = "updateCountry" parameterType="AccountDTO">
		update ACCOUNT
		set country = #{country, jdbcType=VARCHAR}
		where num = #{num}
	</update>
	
	<update id="updateName" parameterType="AccountDTO">
		update account
		set name = #{name, jdbcType=VARCHAR}
		where num = #{num}
	</update>

	<update id="updateTel" parameterType="AccountDTO">
		update account
		set tel = #{tel, jdbcType=INTEGER}
		where num = #{num}
	</update>
	
	<update id="updateAddress" parameterType="AccountDTO">
		update account
		set address = #{address, jdbcType=VARCHAR}
		where num = #{num}
	</update>
	
	
	<update id="updatePassword" parameterType="AccountDTO">
		update account
		set password = #{password, jdbcType=VARCHAR}
		where num = #{num}
	</update>
	
	<update id="updatePayment" parameterType="AccountDTO">
		update account
		set payment = #{payment, jdbcType=VARCHAR}
		where num = #{num}
	</update>
	
	
	<select id="getAccount" resultType="AccountDTO" parameterType="int">
		select * from ACCOUNT where num = #{num}
	</select>
	
	<select id="getAccountByDTO" resultType="AccountDTO" parameterType="AccountDTO">
		select * from ACCOUNT where email = #{email} and password = #{password}
	</select>
	
	<select id="memberList" resultType="AccountDTO">
		select * from ACCOUNT
	</select>
	
	<select id="checkEmail" resultType="AccountDTO" parameterType="String">
		select * from ACCOUNT where email = #{email}
	</select>
	
	<select id="checkPassword" resultType="AccountDTO" parameterType="String">
		select * from ACCOUNT where password = #{password}
	</select>
	
</mapper>