<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.temp.app.model">
	<select id="mainCateList" resultType="String">
		select maincate from answercate order by no asc
	</select>
	<select id="subCateList" parameterType="String" resultType="QA_SubCateDTO">
		select * from answercatesub where maincate=#{maincate} order by no asc
	</select>
	<select id="allSubCate" resultType="QA_SubCateDTO">
		select * from answercatesub order by maincate
	</select>
	<insert id="insertMainCate" parameterType="String">
		insert into answercate values(answercate_seq.nextval, #{maincate})
	</insert>
	<insert id="insertSubCate" parameterType="hashmap">
		insert into answercatesub values(answercatesub_seq.nextval, #{maincate}, #{subcate})
	</insert>
	<delete id="deleteMainCate" parameterType="String">
		delete from answercate where maincate=#{maincate}
	</delete>
	<delete id="deleteMainCate1" parameterType="String">
		delete from answercatesub where maincate=#{maincate}
	</delete>
	<delete id="deleteSubCate" parameterType="String">
		delete from answercatesub where no=#{no}
	</delete>

	<select id="getAnswer" parameterType="int" resultType="QA_AnswerDTO">
		select * from answer where subcate=#{subcate} order by no
	</select>
	<insert id="inputAnswer" parameterType="QA_AnswerDTO">
		insert into answer values(answer_seq.nextval, #{maincate}, #{subcate}, #{answer})
	</insert>
	<delete id="deleteAnswer" parameterType="int">
		delete from answer where no=#{no}
	</delete>
	<insert id="writeCMessage" parameterType="CstmDTO">
		insert into customer_message values(customer_message_seq.nextval, #{reservation}, #{account_num}, #{accomodation_name}, #{name}, #{tel}, #{email}, #{content}, sysdate, #{check_reply, jdbcType=VARCHAR})
	</insert>
	<update id="updateCMessage" parameterType="int">
		update customer_message set check_reply=1 where no = #{no}
	</update>
	<select id="listCMessage" resultType="CstmDTO" parameterType="int">
		select * from customer_message where account_num = #{account_num} order by send_date desc
	</select>
</mapper>