<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.temp.app.model">
	<insert id="writeMessage" parameterType="MessageDTO">
		insert into message values(
		message_seq.nextval,
		#{id},
		#{subject},
		#{subject_sub, jdbcType=VARCHAR},
		#{content},
		#{image, jdbcType=VARCHAR},
		#{mbId},
		sysdate,
		#{reply, jdbcType=VARCHAR})
	</insert>
	<update id="updateMessage" parameterType="int">
		update message set reply=1 where no = #{no}
	</update>
	<select id="listMessage" parameterType="String" resultType="MessageDTO">
		select * from message where mbId=#{mbId} order by write_date desc
	</select>
	<delete id="deleteMessage" parameterType="int">
		delete from message where no=#{no}
	</delete>
</mapper>