<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.temp.app.model">
	<select id="getReservation_list" resultType="ReservationDTO">
		select * from reservation order by checkout_date
	</select>
	<select id="getReservation_b_list" resultType="ReservationDTO">
		select * from reservation where checkout_date&lt;sysdate
	</select>
	<select id="getReservation_a_list" resultType="ReservationDTO">
		select * from reservation where <![CDATA[checkout_date>=sysdate]]>
	</select>
</mapper>