<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.temp.app.model">
 	<select id="selectCountry" resultType="CountryDTO">
		SELECT *
		FROM COUNTRY
		<!-- WHERE FLAG IS NOT NULL -->
	</select>
	<select id="selectCity" resultType="CityDTO">
		SELECT A.*, B.NAME as COUNTRY_NAME
		FROM CITY A, COUNTRY B
		WHERE A.COUNTRY = B.CODE_2
	</select>
	<select id="selectCurrency" resultType="CurrencyDTO">
		SELECT *
		FROM CURRENCY
	</select>
	<select id="selectLanguage" resultType="LanguageDTO">
		SELECT *
		FROM LANGUAGE
	</select>
	
</mapper>
	
		