body, td, input[type=text], select, textarea, p, th{
	align:center;
	font-size:13px;
	font-family:verdana;
	color:navy;
	padding:4px;
}
a:link{
	color:#c0c0c0; text-decoration:none;
}
a:visited{
	color:#c0c0c0; text-decoration:none;
	font-size:13px; font-family:verdana;
}


.box{
	width:1060;
	bgcolor:#80ff00;
	border:1;
	border-coler:#000000;
	border-style:solid;
}
.box2{
	width:720;
	bgcolor:#80ff00;
	border:1;
	border-coler:#000000;
	border-style:solid;
}
.my_button {
    display: inline-block;
    width: 200px;
    text-align: center;
    padding: 10px;
    background-color: #006BCC;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}


.search{
	background-image:url("${pageContext.request.contextPath}/resources/image/search.jpg");
	width:40; height:30;
}
.blue{
	background-color:blue;
}
.blue td{
	color:white;
}
.dark_blue{
	background-color:#000080;
}
.dark_blue td{
	color:white;
}
.menuHide{
	display:none;
}
.hide{
	display:none;
}
.show{
	color:#f4f4f7;
	background-color:#1254ed;
	display:block;
}
.table:hover{
	color:orange; text-decoration:underline;
	font-size:13px; font-family:verdana;
	cursor:pointer;
}
.menu:hover{
	color:red; text-decoration:underline;
	font-size:13px; font-family:verdana;
	cursor:pointer;
}
.calenderMenu{
	width:140;
}
.accomodationMenu{
	width:185;
}
.messageMenu{
	width:240;
}
.payMenu{
	width:300;
}

/* 글자크기 지정하기 */
.m1{
	font-size:17px;
	font-weight:bold;
}
.m2{
	font-size:14px;
}
.m3{
	font-size:12px;
}
.m4{
	font-size:10px;
}
