@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800");

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("images/bg01.png");
		background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("images/bg01.png");
		background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("images/bg01.png");
		background-image: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("images/bg01.png");
		background-color: #f7f7f7;
		background-position: top left, top left;
		background-repeat: repeat-x, repeat;
		background-size: 100% 30em, auto;
		font-family: 'Open Sans', sans-serif;
		font-size: 13pt;
		color: #000;
		font-weight: 300;
		line-height: 2.25em;
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

	input, select, textarea {
		font-family: 'Open Sans', sans-serif;
		font-size: 13pt;
		color: #696969;
		font-weight: 300;
		line-height: 2.25em;
	}

	a {
		color: #4444FF;
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	h1, h2, h3, h4, h5, h6 {
		color: #444;
		font-weight: 800;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
			outline: 0;
		}

	h2 {
		font-size: 2.25em;
		margin: 0 0 1.1em 0;
		line-height: 1em;
	}

	h3 {
		font-size: 1.35em;
		margin: 0 0 0em 0;
	}

	b, strong {
		font-weight: 600;
		color: #444;
	}

	i, em {
		font-style: italic;
	}

	br.clear {
		clear: both;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #eee;
	}

	blockquote {
		border-left: solid 0.5em #eee;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p, ul, ol, dl, table {
		margin-bottom: 2em;
	}



/* Forms */

	form label {
		display: block;
		font-weight: 800;
		margin: 0 0 1em 0;
		font-size: 0.8em;
		color: #444;
	}

	form input[placeholder]:focus { 
		
	}

	form input[type="text"],
	form input[type="email"],
	form input[type="password"],
	form select,
	form textarea {
		-webkit-appearance: none;
		/* display: block; */
		width: 100%;
		border-radius: 2px;
		border: solid 1px #eee;
	}
	
		form input[type="text"]:focus,
		form input[type="email"]:focus,
		form input[type="password"]:focus,
		form select:focus,
		form textarea:focus {
			border-color: #4444FF;
			/* color: #DDDDDD; */
		}
		



	form input[type="text"],
	form input[type="email"],
	form input[type="password"] {
		line-height: 3em;
		padding: 0 1em;
	}

	form select {
		line-height: 3em;
		padding: 0 1em;
	}

	form textarea {
		min-height: 9em;
		padding: 1em;
	}

	input::-webkit-input-placeholder {
    color: #000;
	}
	input:focus::-webkit-input-placeholder {
	    color: #DDDDDD;
	}
	
	/* Firefox < 19 */
	input:-moz-placeholder {
	    color: #000;
	}
	input:focus:-moz-placeholder {
	    color: #DDDDDD;
	}
	
	/* Firefox > 19 */
	input::-moz-placeholder {
	    color: #000;
	}
	input:focus::-moz-placeholder {
	    color: #DDDDDD;
	}
	
	/* Internet Explorer 10 */
	input:-ms-input-placeholder {
	    color: #000;
	}
	input:focus:-ms-input-placeholder {
	    color: #DDDDDD;
	}

/* 	form ::-webkit-input-placeholder {
		color: #555 !important;
	}

	form :-moz-placeholder {
		color: #555 !important;
	}

	form ::-moz-placeholder {
		color: #555 !important;
	}

	form :-ms-input-placeholder {
		color: #555 !important;
	}

	form ::-moz-focus-inner {
		border: 0;
	} */

/* Tables */

	table {
		width: 100%;
	}

		table tr {
			border-top: solid 1px #eee;
		}

			table tr:first-child {
				border-top: 0;
			}

		table td {
			padding: 0.5em 1em 0.5em 1em;
		}

		table th {
			text-align: left;
			padding: 0.5em 1em 0.5em 1em;
			font-weight: 800;
			margin: 0 0 1em 0;
		}

		table thead {
			background: #404248;
			color: #fff;
		}

/* Image */

	.image {
		display: inline-block;
		outline: 0;
	}

		.image img {
			display: block;
			width: 100%;
			border-radius: 8px;
		}

		.image.fit {
			display: block;
			width: 100%;
		}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 2.5em 0;
		}

		.image.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		.image.centered {
			display: block;
			margin: 0 0 2.5em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}
			

/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		-moz-transition: background-color .25s ease-in-out;
		-webkit-transition: background-color .25s ease-in-out;
		-ms-transition: background-color .25s ease-in-out;
		transition: background-color .25s ease-in-out;
		-webkit-appearance: none;
		position: relative;
		/* display: inline-block; */
		background: #4444FF;
		color: #fff;
		text-decoration: none;
		border-radius: 6px;
		font-weight: 800;
		outline: 0;
		border: 0;
		cursor: pointer;
		font-size: 1.35em;
		/* padding: 0.6em 1.5em; */
		
	}

		input[type="button"].icon:before,
		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		button.icon:before,
		.button.icon:before {
			position: relative;
			margin-right: 0.5em;
			top: 0.05em;
		}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.button:hover {
			background: #0000AA;
		}

		input[type="button"]:active,
		input[type="submit"]:active,
		input[type="reset"]:active,
		button:active,
		.button:active {
			background: #20b0e5;
		}

		input[type="button"].alt,
		input[type="submit"].alt,
		input[type="reset"].alt,
		button.alt,
		.button.alt {
			background: #f1f1f1;
			background: rgba(0, 0, 0, 0.05);
			color: #444;
		}

			input[type="button"].alt:hover,
			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			button.alt:hover,
			.button.alt:hover {
				background: #e8e8e8;
				background: rgba(0, 0, 0, 0.085);
			}

			input[type="button"].alt:active,
			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			button.alt:active,
			.button.alt:active {
				background: #e4e4e4;
				background: rgba(0, 0, 0, 0.15);
			}

		input[type="button"].large,
		input[type="submit"].large,
		input[type="reset"].large,
		button.large,
		.button.large {
			font-size: 2.25em;
			padding: 0.8em 0.9em;
		}

/* List */

	ul {
		list-style: disc;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.style2 {
			list-style: none;
			padding-left: 0;
		}

			ul.style2 li {
				padding-left: 0;
			}

	ol {
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

/* Actions */

	ul.actions {
		list-style: none;
		padding-left: 0;
	}

		ul.actions li {
			display: inline-block;
			padding: 0 0 0 0.25em;
			margin: 0 0 0 0.25em;
		}

			ul.actions li:first-child {
				margin-left: 0;
				padding-left: 0;
			}

/* Menu */

	ul.menu {
		list-style: none;
		padding-left: 0;
	}

		ul.menu li {
			border-left: solid 1px #e0e0e0;
			display: inline-block;
			padding: 0 0 0 0.75em;
			margin: 0 0 0 0.75em;
		}

			ul.menu li:first-child {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}

/* Box */

	.box {
		background: #fff;
		border-radius: 6px;
		box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
		padding: 2em;
	}

		.box.feature {
			padding: 0;
		}

			.box.feature .inner {
				padding: 4em 2em 3em 2em;
			}

			.box.feature h2 {
				font-size: 1.35em;
			}

			.box.feature p {
				margin: 0;
			}

			.box.feature .image {
				position: relative;
				margin: 0;
			}

				.box.feature .image img {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}

/* Icons */

	.icon {
		position: relative;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* Wrappers */

	#header-wrapper {
		padding: 4.5em 5em 3em 4em;
		background: #4444FF;
	}
	
	#search-wrapper{
		padding: 2.5em 0em 3em 4em;
		background: #FFFFFF;
	}

	#features-wrapper {
		padding: 3em 0 3em 0;
	}

	#main-wrapper {
		background: #fff;
		box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
		padding: 5em 0 5em 0;
	}

	#footer-wrapper {
		padding: 6em 0 8em 0;
	}

/* Header */

	#header {
		position: relative;
	}

/* Logo */

	#logo {
		display: inline-block;
	}

		#logo h1 {
			background: #4444FF;
			color: #fff;
			border-radius: 6px;
			font-family: 'Oleo Script', serif;
			font-weight: 400;
			padding: 0.25em 0.2em 0.25em 0.2em;
			font-size: 3.25em;
			letter-spacing: 0.05em;
			display: inline-block;
			vertical-align: middle;
		}

		#logo span {
			font-weight: 800;
			line-height: 4.5em;
			letter-spacing: 0.025em;
			font-size: 0.9em;
			vertical-align: middle;
			margin: 0 0 0 1.25em;
		}

/* Nav */

	#nav {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 0.9em;
	}

		#nav ul {
			list-style: none;
			padding-left: 0;
		}

			#nav ul li {
				float: left;
				line-height: 4.5em;
				padding-left: 1.5em;
			}

				#nav ul li a, #nav ul li span {
					-moz-transition: background-color .25s ease-in-out;
					-webkit-transition: background-color .25s ease-in-out;
					-ms-transition: background-color .25s ease-in-out;
					transition: background-color .25s ease-in-out;
					font-weight: 800;
					letter-spacing: 0.025em;
					color: #696969;
					text-decoration: none;
					border-radius: 6px;
					padding: 0.5em 1em 0.5em 1em;
					background: #FFFFFF;
				}

				#nav ul li > ul {
					display: none;
				}

				#nav ul li:hover a, #nav ul li:hover span {
					background: #fff;
					color: #4444FF;
				}

				#nav ul li.active a, #nav ul li.active span {
					background: #fff;
				}

				#nav ul li.current a {
					background: #444;
					color: #fff;
				}

	.dropotron {
		background: #fff;
		letter-spacing: 0.025em;
		color: #696969;
		text-decoration: none;
		border-radius: 6px;
		padding: 0.75em 0;
		min-width: 15em;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0.25em 0.25em 0.1em rgba(0, 0, 0, 0.025);
		margin-top: calc(-0.75em + 1px);
		margin-left: -1px;
		list-style: none;
		padding-left: 0;
	}

		.dropotron li {
			border-top: solid 1px #eee;
			line-height: 3em;
			padding-left: 0;
		}

			.dropotron li:first-child {
				border-top: 0;
			}

			.dropotron li > a, .dropotron li > span {
				-moz-transition: color .25s ease-in-out, background-color .25s ease-in-out;
				-webkit-transition: color .25s ease-in-out, background-color .25s ease-in-out;
				-ms-transition: color .25s ease-in-out, background-color .25s ease-in-out;
				transition: color .25s ease-in-out, background-color .25s ease-in-out;
				text-decoration: none;
				color: inherit;
				display: block;
				padding: 0 1.5em;
			}

				.dropotron li > a:hover, .dropotron li > span:hover {
					background: #eee;
				}

			.dropotron li.active > a, .dropotron li.active > span {
				background: #eee;
			}

		.dropotron.level-0 {
			font-size: 0.8em;
			margin-left: 1.5em;
			margin-top: 0;
		}

			.dropotron.level-0:before {
				content: '';
				position: absolute;
				top: -0.5em;
				left: 1em;
				border-bottom: solid 0.75em #ffffff;
				border-left: solid 0.75em transparent;
				border-right: solid 0.75em transparent;
				z-index: 1;
			}


/* Footer */

	#footer {
		margin-top: 0;
	}

		#footer a {
			color: inherit;
		}

	#copyright {
		color: #aaa;
		padding: 4em 0 0 0;
		text-align: center;
	}

		#copyright a {
			color: inherit;
		}

/* XLarge */

	@media screen and (max-width: 1680px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 12pt;
			}

	}

/* Large */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 11pt;
			}

	}


/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		position: relative;
		margin: -0.65rem 0 1.5rem 0;
		font-style: italic;
	}

	header h1 + p {
		font-size: 1.375rem;
	}

	header h2 + p {
		font-size: 1.25rem;
	}

	header h3 + p {
		font-size: 1.1rem;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9rem;
	}

	header p {
		color: rgba(0, 0, 0, 0.75);
	}

/* Wrapper (style1) */

	.wrapper.style1 > .inner {
		padding: 7rem 3.5rem 5rem 3.5rem ;
		margin: 0 auto;
		max-width: 100%;
		width: 64rem;
	}

		.wrapper.style1 > .inner.medium {
			width: 48rem;
		}

		.wrapper.style1 > .inner.small {
			width: 32rem;
		}

	@media screen and (max-width: 1680px) {

		.wrapper.style1 > .inner {
			padding: 5rem 2.5rem 3rem 2.5rem ;
		}

	}

	@media screen and (max-width: 1280px) {

		.wrapper.style1 > .inner {
			padding: 4rem 4rem 2rem 4rem ;
		}

	}

	@media screen and (max-width: 980px) {

		.wrapper.style1 > .inner {
			padding: 4.5rem 3rem 2.5rem 3rem ;
		}

	}

	@media screen and (max-width: 736px) {

		.wrapper.style1 > .inner {
			padding: 3rem 2rem 1rem 2rem ;
		}

	}

/* Wrapper (style2) */

	.wrapper.style2 {
		padding: 7rem;
		background-color: #eeeeee;
	}

		.wrapper.style2 > .inner {
			padding: 5.25rem 3.5rem 3.25rem 3.5rem ;
			background-color: #ffffff;
			border-radius: 0.5rem;
			margin: 0 auto;
			max-width: 100%;
			position: relative;
			width: 64rem;
			z-index: 1;
		}

			.wrapper.style2 > .inner.medium {
				width: 48rem;
			}

			.wrapper.style2 > .inner.small {
				width: 32rem;
			}

		@media screen and (max-width: 1680px) {

			.wrapper.style2 {
				padding: 5rem;
			}

				.wrapper.style2 > .inner {
					padding: 3.75rem 2.5rem 1.75rem 2.5rem ;
				}

		}

		@media screen and (max-width: 1280px) {

			.wrapper.style2 {
				padding: 4rem;
			}

				.wrapper.style2 > .inner {
					padding: 3rem 2rem 1rem 2rem ;
				}

		}

		@media screen and (max-width: 980px) {

			.wrapper.style2 {
				padding: 2.25rem;
			}

				.wrapper.style2 > .inner {
					padding: 3rem 2.25rem 1rem 2.25rem ;
				}

		}

		@media screen and (max-width: 736px) {

			.wrapper.style2 {
				padding: 1.5rem;
			}

				.wrapper.style2 > .inner {
					padding: 2rem 1.5rem 0.1rem 1.5rem ;
				}

		}

	#wrapper > .wrapper.style2.invert:not(.color1):not(.color2):not(.color3):not(.color4):not(.color5):not(.color6):not(.color7) {
		background-color: #222222;
	}

	#wrapper > .wrapper.style2.invert > .inner {
		background-color: #000000;
	}
	
	/* Gallery (style2) */

	.gallery.style2 {
		background-color: #000000;
		color: #ffffff;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-overflow-scrolling: touch;
		position: relative;
		background-color: transparent;
		border-radius: 1px;
	}

		.gallery.style2 input, .gallery.style2 select, .gallery.style2 textarea {
			color: #ffffff;
		}

		.gallery.style2 a {
			color: #ffffff;
		}

			.gallery.style2 a:hover {
				color: #b3b3ff;
			}

		.gallery.style2 strong, .gallery.style2 b {
			color: #ffffff;
		}

		.gallery.style2 h1, .gallery.style2 h2, .gallery.style2 h3, .gallery.style2 h4, .gallery.style2 h5, .gallery.style2 h6 {
			color: #ffffff;
		}

		.gallery.style2 blockquote {
			border-left-color: white;
		}

		.gallery.style2 code {
			background: rgba(255, 255, 255, 0.125);
			border-color: white;
		}

		.gallery.style2 hr {
			border-bottom-color: white;
		}

		.gallery.style2 input[type="submit"],
		.gallery.style2 input[type="reset"],
		.gallery.style2 input[type="button"],
		.gallery.style2 button,
		.gallery.style2 .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px white;
			color: #ffffff !important;
		}

			.gallery.style2 input[type="submit"]:hover,
			.gallery.style2 input[type="reset"]:hover,
			.gallery.style2 input[type="button"]:hover,
			.gallery.style2 button:hover,
			.gallery.style2 .button:hover {
				box-shadow: inset 0 0 0 1px #47D3E5;
				color: #4703FF !important;
			}

			.gallery.style2 input[type="submit"]:active,
			.gallery.style2 input[type="reset"]:active,
			.gallery.style2 input[type="button"]:active,
			.gallery.style2 button:active,
			.gallery.style2 .button:active {
				background-color: rgba(71, 211, 229, 0.2);
				box-shadow: inset 0 0 0 1px #47D3E5;
				color: #4703FF !important;
			}

			.gallery.style2 input[type="submit"].primary,
			.gallery.style2 input[type="reset"].primary,
			.gallery.style2 input[type="button"].primary,
			.gallery.style2 button.primary,
			.gallery.style2 .button.primary {
				background-color: #ffffff;
				box-shadow: none;
				color: #000000 !important;
			}

				.gallery.style2 input[type="submit"].primary:hover,
				.gallery.style2 input[type="reset"].primary:hover,
				.gallery.style2 input[type="button"].primary:hover,
				.gallery.style2 button.primary:hover,
				.gallery.style2 .button.primary:hover {
					background-color: #4703FF;
				}

				.gallery.style2 input[type="submit"].primary:active,
				.gallery.style2 input[type="reset"].primary:active,
				.gallery.style2 input[type="button"].primary:active,
				.gallery.style2 button.primary:active,
				.gallery.style2 .button.primary:active {
					background-color: #4703FF;
				}

		.gallery.style2 > .forward, .gallery.style2 > .backward {
			text-decoration: none;
			-moz-transition: opacity 0.2s ease-in-out;
			-webkit-transition: opacity 0.2s ease-in-out;
			-ms-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
			position: absolute;
			top: 0;
			width: 5rem;
			height: 100%;
			cursor: pointer;
			opacity: 0;
			z-index: 2;
		}

			.gallery.style2 > .forward:before, .gallery.style2 > .backward:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			.gallery.style2 > .forward:before, .gallery.style2 > .backward:before {
				display: block;
				top: calc(50% - 1.5rem);
				width: 4rem;
				height: 3rem;
				line-height: 1em;
				font-size: 3rem;
				position: absolute;
				text-align: center;
			}

		.gallery.style2:hover > .forward, .gallery.style2:hover > .backward {
			opacity: 1;
		}

		.gallery.style2 > .forward {
			right: 0;
			background-image: linear-gradient(to left, rgba(0, 0, 0, 0.25) 15%, rgba(0, 0, 0, 0));
		}

			.gallery.style2 > .forward:before {
				content: '\f105';
				right: 0;
			}

		.gallery.style2 > .backward {
			left: 0;
			background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25) 15%, rgba(0, 0, 0, 0));
		}

			.gallery.style2 > .backward:before {
				content: '\f104';
				left: 0;
			}

		.gallery.style2 > .inner {
			display: inherit;
			overflow-x: auto;
			overflow-y: hidden;
			position: relative;
			width: 100%;
		}

		.gallery.style2 article {
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			display: block;
			position: relative;
			overflow: hidden;
			width: 17.5rem;
			max-width: 75vw;
		}

			.gallery.style2 article .image {
				display: block;
				width: 100%;
				border-radius: 1px;
				text-align:center;
			}

				.gallery.style2 article .image img {
					display: block;
					width: 250px;
					height:250px;
					border-radius: 1;
				}

			.gallery.style2 article .caption {
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
				pointer-events: none;
				-moz-transition: opacity 0.2s ease-in-out;
				-webkit-transition: opacity 0.2s ease-in-out;
				-ms-transition: opacity 0.2s ease-in-out;
				transition: opacity 0.2s ease-in-out;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				opacity: 0; 
				padding: 3rem;
				z-index: 1;
				font-size: 0.8rem;
			}

				.gallery.style2 article .caption a {
					pointer-events: auto;
				}

				.gallery.style2 article .caption h2, .gallery.style2 article .caption h3, .gallery.style2 article .caption h4, .gallery.style2 article .caption h5, .gallery.style2 article .caption h6 {
					font-size: 1.25rem;
					margin-bottom: 0.25rem;
				}

				.gallery.style2 article .caption > * {
					max-width: 100%;
					margin-bottom: 1rem;
				}

				.gallery.style2 article .caption > :last-child {
					margin-bottom: 0;
				}

			.gallery.style2 article:hover .caption {
				opacity: 1;
			}
			
			
/**********************************************/

#linear-wrapper {
		background-color: inherit;
		width: 100%;
		overflow-x: hidden;
	}

		#linear-wrapper.divided > * {
			box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.075);
		}

			#linear-wrapper.divided > *:first-child {
				box-shadow: none !important;
			}

		#linear-wrapper.divided > .invert {
			box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.125);
		}

			#linear-wrapper.divided > .invert:first-child {
				box-shadow: none !important;
			}			

/**********************************************/

	.wrapper.style1 {
		padding: 2rem;
		background-color: #eeeeee;
	}

	.gallery.style1 {
		background-color: #000000;
		color: #ffffff;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-overflow-scrolling: touch;
		position: relative;
		background-color: transparent;
		border-radius: 1px;
	}

  		.gallery.style1 > .inner {
			display: inherit;
			overflow-x: auto;
			overflow-y: hidden;
			position: relative;
			width: 100%;
		} 

		.gallery.style1 article {
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			display: block;
			position: relative;
			overflow: hidden;
			width: 18.5rem;
			max-width: 75vw;
		}

			.gallery.style1 article .image {
				display: block;
				width: 100%;
				border-radius: 1px;
				text-align:center;
			}

				.gallery.style1 article .image img {
					display: block;
					width: 275px;
					height:260px;
					border-radius: 1;
				}

			 .gallery.style1 article .caption {
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
				pointer-events: none;
				
			} 
			 .gallery.style1 article .caption p{
			 	color: #000000;
			 }

/***************************************************/

#location-wrapper{
	background-color: inherit;
	width: 100%;
	overflow-x: hidden;
}
/* Gallery (location_layer1) */

	.gallery.location_layer1 {
		background-color: #000000;
		color: #ffffff;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-overflow-scrolling: touch;
		position: relative;
		background-color: transparent;
		/* border-radius: 1px; */
	}

		
		.gallery.location_layer1 a {
			color: #ffffff;
		}

			.gallery.location_layer1 a:hover {
				color: #ffffff;
			}


		.gallery.location_layer1 > .inner {
			display: inherit;
			overflow-x: auto;
			overflow-y: hidden;
			position: relative;
			width: 100%;
		}

		.gallery.location_layer1 article {
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			display: block;
			position: relative;
			overflow: hidden;
			width: 50%;
			max-width: 75vw;
		}

			.gallery.location_layer1 article .image1 {
				padding: 0 1.5rem 1rem 3rem;
				display: block;
				width: 100%;
				border-radius: 1px;
				text-align:center;
			}
			.gallery.location_layer1 article .image2 {
				padding: 0 3rem 1rem 1.5rem;
				display: block;
				width: 100%;
				border-radius: 1px;
				text-align:center;
			}
			
				.gallery.location_layer1 article img {
					display: block;
					width: 100%;
					height:300px;
					border-radius: 1;
				}

			.gallery.location_layer1 article .caption {
				
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
				pointer-events: none;
				-moz-transition: opacity 0.2s ease-in-out;
				-webkit-transition: opacity 0.2s ease-in-out;
				-ms-transition: opacity 0.2s ease-in-out;
				transition: opacity 0.2s ease-in-out;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 15%;
				/* background-color: rgba(0, 0, 0, 0.5); */
				opacity: 1; 
				
				z-index: 1;
				font-size: 0.8rem;
				background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 15%, rgba(0, 0, 0, 0));
				max-width: 40vw;
			}
			
				.caption1 {
					margin-left: 3rem;
					
				}
				.caption2 {
					margin-left: 1.5rem;
					
				}


				.gallery.location_layer1 article .caption a {
					pointer-events: auto;
				}

				.gallery.location_layer1 article .caption h2, .gallery.location_layer1 article .caption h3, .gallery.location_layer1 article .caption h4, .gallery.location_layer1 article .caption h5, .gallery.location_layer1 article .caption h6 {
					font-size: 1.25rem;
					margin-bottom: 0.25rem;
				}

				.gallery.location_layer1 article .caption > * {
					max-width: 100%;
					margin-bottom: 1rem;
				}

				.gallery.location_layer1 article .caption > :last-child {
					margin-bottom: 0;
				}

			.gallery.location_layer1 article:hover .caption {
				opacity: 1;
			}
/*****************************************************/
	.gallery.location_layer2 {
		background-color: #000000;
		color: #ffffff;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-overflow-scrolling: touch;
		position: relative;
		background-color: transparent;
		/* border-radius: 1px; */
	}

		
		.gallery.location_layer2 a {
			color: #ffffff;
		}

			.gallery.location_layer2 a:hover {
				color: #ffffff;
			}


		.gallery.location_layer2 > .inner {
			display: inherit;
			overflow-x: auto;
			overflow-y: hidden;
			position: relative;
			width: 100%;
		}

		.gallery.location_layer2 article {
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			display: block;
			position: relative;
			overflow: hidden;
			width: 34%;
			max-width: 75vw;
		}

			.gallery.location_layer2 article .image3 {
				/*u  r  d l*/
				padding: 0rem 1rem 1rem 3rem;
				display: block;
				width: 100%;
				/* border-radius: 1px; */
				text-align:center;
			}
			.gallery.location_layer2 article .image4 {
				padding: 0rem 1rem 1rem 1rem;
				display: block;
				width: 100%;
				/* border-radius: 1px; */
				text-align:center;
			}
			.gallery.location_layer2 article .image5 {
				padding: 0rem 3rem 1rem 1rem;
				display: block;
				width: 100%;
				/* border-radius: 1px; */
				text-align:center;
			}
				.gallery.location_layer2 article img {
					display: block;
					width: 100%;
					height:300px;
					border-radius: 1;
				}

			.gallery.location_layer2 article .caption {
				
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
				pointer-events: none;
				-moz-transition: opacity 0.2s ease-in-out;
				-webkit-transition: opacity 0.2s ease-in-out;
				-ms-transition: opacity 0.2s ease-in-out;
				transition: opacity 0.2s ease-in-out;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 15%;
				/* background-color: rgba(0, 0, 0, 0.5); */
				opacity: 1; 
				
				z-index: 1;
				font-size: 0.8rem;
				background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 15%, rgba(0, 0, 0, 0));
				max-width: 20vw;
			}
			

				.caption3 {
					margin-left: 3rem;
					
				}
				.caption4 {
					margin-left: 1rem;
					
				}
				.caption5 {
					margin-left: 1rem;
					
				}

				.gallery.location_layer2 article .caption a {
					pointer-events: auto;
				}

				.gallery.location_layer2 article .caption h2, .gallery.location_layer2 article .caption h3, .gallery.location_layer2 article .caption h4, .gallery.location_layer2 article .caption h5, .gallery.location_layer2 article .caption h6 {
					font-size: 1.25rem;
					margin-bottom: 0.25rem;
				}

				.gallery.location_layer2 article .caption > * {
					max-width: 100%;
					margin-bottom: 1rem;
				}

				.gallery.location_layer2 article .caption > :last-child {
					margin-bottom: 0;
				}

			.gallery.location_layer2 article:hover .caption {
				opacity: 1;
			}
/*********************************************************/
/*****************************************************/
	.gallery.location_layer3 {
		background-color: #000000;
		color: #ffffff;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-overflow-scrolling: touch;
		position: relative;
		background-color: transparent;
		/* border-radius: 1px; */
	}

		
		.gallery.location_layer3 a {
			color: #ffffff;
		}

			.gallery.location_layer3 a:hover {
				color: #ffffff;
			}


		.gallery.location_layer3 > .inner {
			display: inherit;
			overflow-x: auto;
			overflow-y: hidden;
			position: relative;
			width: 100%;
		}

		.gallery.location_layer3 article {
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			display: block;
			position: relative;
			overflow: hidden;
			width: 25%;
			max-width: 75vw;
		}

			.gallery.location_layer3 article .image6 {
				/*u  r  d l*/
				padding: 0rem 0.5rem 1rem 3rem;
				display: block;
				width: 100%;
				/* border-radius: 1px; */
				text-align:center;
			}
			.gallery.location_layer3 article .image7 {
				padding: 0rem 0.5rem 1rem 0.5rem;
				display: block;
				width: 100%;
				/* border-radius: 1px; */
				text-align:center;
			}
			.gallery.location_layer3 article .image8 {
				padding: 0rem 0.5rem 1rem 0.5rem;
				display: block;
				width: 100%;
				/* border-radius: 1px; */
				text-align:center;
			}
			.gallery.location_layer3 article .image9 {
				padding: 0rem 3rem 1rem 0.5rem;
				display: block;
				width: 100%;
				/* border-radius: 1px; */
				text-align:center;
			}
				.gallery.location_layer3 article img {
					display: block;
					width: 100%;
					height:200px;
					border-radius: 1;
				}

			.gallery.location_layer3 article .caption {
				
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
				pointer-events: none;
				-moz-transition: opacity 0.2s ease-in-out;
				-webkit-transition: opacity 0.2s ease-in-out;
				-ms-transition: opacity 0.2s ease-in-out;
				transition: opacity 0.2s ease-in-out;
				position: absolute;
				top: 145px;
				left: 0;
				width: 100%;
				height: 25%;
				/* background-color: rgba(0, 0, 0, 0.5); */
				opacity: 1; 
				
				z-index: 1;
				font-size: 0.8rem;
				background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) 15%, rgba(0, 0, 0, 0));
				max-width: 15vw;
			}
			

				.caption6 {
					margin-left: 3rem;
					
				}
				.caption7 {
					margin-left: 0.5rem;
					
				}
				.caption8 {
					margin-left: 0.5rem;
					
				}
				.caption9 {
					margin-left: 0.5rem;
					
				}

				.gallery.location_layer3 article .caption a {
					pointer-events: auto;
				}

				.gallery.location_layer3 article .caption h2, .gallery.location_layer3 article .caption h3, .gallery.location_layer3 article .caption h4 {
					font-size: 1.2rem;
				}
				.gallery.location_layer3 article .caption h5, .gallery.location_layer3 article .caption h6{
					font-size: 1rem;
					margin-bottom:0.2rem;
				}

				.gallery.location_layer3 article .caption > * {
					max-width: 100%;
					
				}

			.gallery.location_layer3 article:hover .caption {
				opacity: 1;
			}
/*********************************************************/

.start-date{
	text-align:center;
}
.end-date{
	text-align:center;
}
#people_form{
	text-align:center;
}

#map{
	height:100%;
}
